<footer>
    <p>Created with
        <span class="footer_name">â¤</span>
        by
        <a target="_blank" href="https://www.instagram.com/vishnu_ne_tha/"><span class="footer_name">Vishnu Netha</span></a>
    </p>
</footer>
